

<div id="banner" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/carousel2.jpg" class="d-block w-100 myImg" alt="...">
      <div class="carousel-caption d-none d-md-block">
      <h1>Helping hand care</h1>
            <p>Some representative placeholder content for the third slide of this carousel</p>
                <p><a class="btn btn-lg btn-primary" href="register">Register now</a></p>
      </div>

        
    </div>

  </div>
</div>




