<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/carousel2.jpg" class="d-block w-100 myImg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Helping hand</h2>
        <h4>We are here to help to connect seniors to caregivers</h4>
      </div>
    </div>
  </div>
</div>