{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %} 

{% block content %}

<p>We're sorry, we encoutered an internal error. Helping hand is already working on a solution.    
     <a href="/">Click to continue</a>. </p>
     <img src="/images/errorHand.png" width="100">

{% endblock content %}