{% extends "master.html.twig" %}

{% block title %}Home Page{% endblock %}

{#{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	
{% endblock %} #}

{% block user %}
  {% if userSession %}
  <br><br><br>
		<p>Logged in as {{userSession.firstName}} {{userSession.lastName}} </p>                                                                 
			{% else %}
			Please log in or register first
			<a href="/login"><input type="submit" name="login" value="Login"></input></a>
			{% endif %}
{% endblock %}

{% block banner %}
{% include ('banner.html.twig') %}
{% endblock %}

{% block content %}
<!--start of showcase-->

 

<div id="mainCont">
<!--About us -->
<div id="aboutUs">
<hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading">About us</h1>
        <p class="lead">At Helping Hand we welcome and celebrate all people, and deliver personalised and professional services to meet the needs of older 
        people from all backgrounds. Our core values of compassion, respect, excellence and community show in everything we do.</p>
      </div>
      <div class="col-md-5">
        <img src="images/about.jpg" class="d-block w-100 myImg" alt="...">
      </div>
    </div>
  </div>

    <hr class="featurette-divider">

	<!-- Caregivers -->
    <h1 class="top-page-title text-center">Featured caregivers</h1>


  <div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="img-fluid img-thumbnail rounded" src="images/caregiver1.jpg" alt="caregiver">
      <p class="card-text">Lucy Thompson</p>
      <p><a class="btn btn-secondary custom-button" href="#" role="button">View</a></p>
    </div>
    <div class="col-sm">
      <img class="img-fluid img-thumbnail rounded" src="images/caregiver2.jpg" alt="caregiver">
      <p class="card-text">John Arry</p>
      <p><a class="btn btn-secondary custom-button" href="#" role="button">View</a></p>
    </div>
    <div class="col-sm">
      <img class="img-fluid img-thumbnail rounded" src="images/caregiver3.jpg" alt="caregiver">
      <p class="card-text">Alberto Derrec</p>
      <p><a class="btn btn-secondary custom-button" href="#" role="button">View</a></p>
    </div>
  </div>
</div>
</div>
          
{% endblock %}

