{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{#{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="../css/loginregister.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/jquery-2.2.0.min.js"></script>
<script>
$(document).ready(function() {
    $('input[name=email]').on('paste, blur change', function() {
        var email = $('input[name=email]').val();
        $("#emaildoesnotexist").load("/emaildoesnotexist/" + email);
    });
    
    $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
        console.log("Ajax error occured on " + settings.url);
        alert("Ajax error occured");
    });
});

</script>
{% endblock %} #}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    {% if errorList %}
            <ul class="errorMessage">
            {% for error in errorList %}
                <li>{{error}}<li>
            {% endfor %}
            </ul>
        {% endif %}
    <div class="wrap">
    <h4> Log in </h4>
        <form method="POST" id="myForm">
            <label>Email: </label>
            <input type="text" name="email" id="email" value="" required="required"></input>
            <span class="errorMessage" id="nothisemail"></span><br />
            <label>Password: </label>
            <input type="password" name="password" autocomplete="new-password" id="password" required="required" value=""></input><br />
            <input type="submit" name="login" id="login" value="Login" class="button"><br><br>		
            <button class="loginBtn loginBtn--google" onclick="window.location='/logingoogle.php'" type="button" name="logingmail"  class="btn btn-danger">Login with Google</button><br>
            <button class="loginBtn loginBtn--facebook" onclick="window.location='/loginfacebook.php'" type="button" name="loginfacebook" class="btn btn-danger">Login with Facebook</button><br>      
            <h5><a href="/forgotpassword">Forgot Password?</a></h5>
            <h5><a>Not a member yet?<a href="register"> Register now!</a></h5>      
        </form>   
        </div>
    </div>
</div>
{% endblock %}
