{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}



{% block head %}
    {{ parent() }}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        $(document).ready(function() {

           $('input[name=email]').on('paste blur change input', function() {
                var email = $('input[name=email]').val();
                $("#emailexists").load("emailexists/" + email);
            }); 
           
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });
        });
    </script>

{% endblock %}



{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    {% if errorList %}
            <ul class="errorMsg">
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
            </ul>
    {% endif %}

    <div class="wrap">
    {% if  success %}
    <p>{{success}}</p>
    {% endif %}
    <h4> Log in </h4>
    <div class="row">
            <div class="col-md-4">
            <form method="POST">

            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="email" value="" required="required"></input>
            <span class="errorMsg" id="emailexists"></span><br>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name = "password">
            <input type="submit" name="login" id="login" value="Log in" class="btn btn-primary"/> <br><br>
            <h5><a>Not a member yet?<a href="register"> Register now!</a></h5>      
            </form>
            </div>
            </div>

    </div>
</div>
{% endblock %}
