<header>
        <!--Navigation-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="">
                <img src="images/logo.png" alt="dog icon">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <!--ml auto is to align list(menu) to left, mr would be to right-->
                    <li class="nav-item">
                        <a href="/helpinghand" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Our caregivers</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link">Find caregiver near you</a>
                  </li>
                    <li class="nav-item">
                        <a href="login" class="nav-link">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a href="register" class="nav-link">Register</a>
                    </li>
                    <li class="nav-item">  
                      <a href="index-fr.html" class="nav-link language"><img src="images/french_small.png" alt=""></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--end of navigation-->
    </header>